<!-- <section class="homepage-container flex column align-center justify-center">

        <img src="assets/imgs/app-logo.png" class="app-logo"/>
        <h1><i class="fas fa-hard-hat"></i> Page in construction!</h1>
        <a routerLink="/signup">Sign up</a>
      
</section> -->

<section class="homepage-container">
        <div class="app-header-bg">
                <div class="app-header">
                        <div class="brand">
                                <img src="assets/imgs/app-logo.png"  class="app-logo"/>
                                <span class="brand-title">Twit<span class="brand-inner-span">cher</span></span>
                        </div>
                        <div class="nav-links">
                                <a routerLink="/signup">Login</a>
                        </div>     
                </div>
                <div class="header-content flex space-evenly align-center">
                        <span class="header-content-txt flex column justify-center">
                                <p>An Twitch application made</p>
                                <p>with Angular</p>
                                <div class="header-btns">
                                        <a routerLink="/signup">
                                                Get Started!
                                        </a>
                                </div>
                        </span>
                        <img src="assets/imgs/mock-comp.png" alt="" class="mock-img"/>
                </div>
               
        </div>
</section>


<!-- <div className="card-text-2 flex" data-aos="fade-left">
        <img src={image1} alt="" className="card-img" />
        <span className="flex column justify-center">
          <h1>Manage Contacts</h1>
          <p>
            Manage contacts easily with
            {' '}
            <span className="special-span">Mr.Bitcoin</span>
            {' '}
            user system and benfit the most
          </p>
          <div>
          <Link to={localStorage.loggedInUser ? '/profile' : '/signup'}>
            <button className="btn get-started">Get Started →</button>
          </Link>
          </div>
        </span>
      </div> -->