
   <div class="container flex column align-center">
       <a class="home" routerLink="/"><i class="fas fa-reply"></i></a>
        <img src="assets/imgs/app-logo.png" class="app-logo"/>
        <form  #form="ngForm" class="form-container flex column align-center justify-center" (ngSubmit)="pageAction(form.value)">
            <div class="form-control" *ngIf="isSignup">
                <label>Name: <input type="text" placeholder="Enter name..."  ngModel name="username"></label>
            
            </div>
            <div class="form-control">
                <label>Email: <input type="text" placeholder="Enter email..."  ngModel name="email"></label>
              

            </div>

            <div class="form-control">
                <label>Password: <input type="text" placeholder="Enter password"  ngModel name="password"></label>
           
            </div>
            <button class="btn action-btn">{{btnTxt}}</button>
        </form>
        <button class="btn" (click)="toggleMode()">{{linkTxt}}</button>
    </div>

