.main-layout {
        // min-height: calc(100vh - 5.625rem);
        background-color: #1b2330;
        background-image: url('../../img/curvy_bg.svg');
        background-repeat: no-repeat;
        background-size: 100% 70%;
        background-position: bottom;
}
