.page-not-found {
    font-family: bungee,sans-serif;
    img {
        width: 400px;
        height: 400px;
    }

    h1 {
        color: #6441a5;
        font-weight: bold;
        font-size: 1.5rem;

    }

    height: 100vh;
    background: #f7f7f7
}