
.stream-list-page {

    .intro {
        border-bottom: 1px solid #d3d3d3;
        padding: 0 1rem;
        h1 {
            font-size: 2rem;
            padding: 2rem;
            font-family: 'carme';
        }
        
        .fa-reply {
            font-size: 2rem;
        }
        
        
    }

    .stream-list {
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(250px,1fr));
        gap: 30px;
        justify-content: center;
        padding: 2rem; 
    
    }
}